<div class="container">
  <div class="currency-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1>Cotizaciones</h1>
    <p class="lead">Cotización de moneda extranjera por banco. En Pesos Argentinos.</p>
  </div>
  <div *ngIf="error" class="alert alert-danger" role="alert">
    <span><i class="fa fa-exclamation-circle"></i> Ocurrió un error inesperado al obtener la información mas reciente.
      Se intentará nuevamente en unos instantes.</span>
  </div>
  <div *ngIf="currentCurrencies.length == 0" class="alert alert-primary" role="alert">
    <span><i class="fa fa-info-circle"></i> Obteniendo cotizaciones. Aguarde un instante...</span>
  </div>
  <div *ngIf="currentCurrencies.length > 0" class="card-deck mb-3">
    <div *ngFor="let c of currentCurrencies;let i=index" class="card currency-card shadow-sm mb-3">
      <div class="card-header">
        <h5 class="my-0 font-weight-normal">{{c.bank}}</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col col-sm-2 p-0"></div>
          <div class="col col-sm-1 p-0"></div>
          <div class="col col-sm-3 p-1 text-right"><span class="badge badge-info">Compra</span></div>
          <div class="col col-sm-3 p-1 text-right"><span class="badge badge-success">Venta</span></div>
          <div class="col col-sm-3 p-1 text-right"><span class="badge badge-success">Venta+IP</span></div>
        </div>
        <div *ngFor="let e of c.exchange" class="row">
          <div class="col col-sm-2 p-0 text-left">{{e.code}} <i class="fa fa-info-circle" title="{{e.type}}"></i></div>
          <div class="col col-sm-1 p-0 text-right"><i appCurrencyValueChange currentVariation="{{e.sellRateVariation}}"></i></div>
          <div class="col col-sm-3 p-1 text-right"><span class="no-wrap">$ {{e.buyRate}}</span></div>
          <div class="col col-sm-3 p-1 text-right"><span class="no-wrap">$ {{e.sellRate}}</span></div>
          <div class="col col-sm-3 p-1 text-right"><span class="no-wrap">$ {{e.sellRateWithTax}}</span></div>
        </div>
      </div>
    </div>
  </div>
 </div>
