
<div class="container">
    <div class="financial-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Cotizaciones</h1>
        <p class="lead">Cotización de moneda extranjera por banco. En Pesos Argentinos.</p>
    </div>
    <div class="card-deck mb-3">
        <div class="row">
            <div *ngFor="let c of currencies;" class="col-md-4 col-sm-12">
                <div class="card shadow-sm mb-3">
                    <div class="card-header">
                      <h5 class="my-0 font-weight-normal">{{c.bank}}</h5>
                    </div>
                    <div class="card-body">
                      <div class="row">
                          <div class="col-sm-4 offset-sm-4 text-right"><span class="badge badge-success">Compra</span></div>
                          <div class="col-sm-4 text-right"><span class="badge badge-danger">Venta</span></div>
                      </div>
                      <div *ngFor="let e of c.exchange;" class="row">
                          <div class="col text-left">{{e.type}}</div>
                          <div class="col text-right"><span>$ {{e.buyRate}}</span></div>
                          <div class="col text-right"><span>$ {{e.sellRate}}</span></div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
